  <div class="recipeActions">
  <a href="#">
  <button type="button">Generate Shopping List</button>
  </a>
  <a href=<%="/recipes/#{recipe.id}/recipe_foods/new"%>>
  <button type="button" disabled="true">Add ingredient</button>
  </a>
  </div>
