  <div class="recipeActions">
  <a href="/general_shopping_list">
  <button type="button">Generate Shopping List</button>
  </a>
  <%if current_user.id==recipe.user_id %>
  <a href=<%="/recipes/#{recipe.id}/recipe_foods/new"%>>
  <button type="button">Add ingredient</button>
  </a>
  <%end%>
  </div>
