<section class="formSection">
  <%= form_with model: [@recipe,@recipe_food] do |form| %>
    <%= form.number_field :quantity, placeholder:"Quantity", min:0%>
    <label for="foods">Select a Food</label>
    <%= form.select :food_id, options_for_select(@user.foods.map { |food| [food.name, food.id] }), {}, { id: 'food' } %>
    <%= form.submit "Create" %>
  <% end %>
</section>
