/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.foodsContainer {
  display: flex;
  flex-direction: column;
}

.addFood {
  display: flex;
  justify-content: flex-end;
}

.foodTable {

  margin: 0 1.5rem 0 1.5rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.foodTableHeading {
  background-color: rgb(112, 112, 109);
  display: grid;
  grid-template-columns: repeat(2,30fr) 25fr 15fr;
}

.foodTableHeading div,
.foodTableBody div {
  border-right: 2px solid black;
  padding-left: 4px;
}

.foodTableBody {
  display: grid;
  grid-template-columns: repeat(2,30fr) 25fr 15fr;
}

.foodTableBody div {
  padding: 0.5rem 0 0.5rem 4px;
}